@using DataImportUtility.Components.FieldMappingComponents.ValueTransformationComponents
@using DataImportUtility.Helpers

@inherits DataFilePickerComponentBase

@if (Show)
{
    <div class="field-transform-config-modal o1l-modal@($"{(Show ? " show" : null)}{(DefaultCssClass)}")"
    tabindex="-1"
    role="dialog"
    data-from-component="@nameof(FieldTransformationConfiguration)"
    data-component-instance="@InstanceId"
    data-mapper-state="@MapperStateId">
        <div class="o1l-modal-dialog"
        role="document">
            <div class="o1l-modal-content">
                <div class="o1l-modal-header">
                    <span class="o1l-modal-title">
                        Configure Value Output for @FieldMapping.FieldName
                    </span>
                    <button type="button"
                    class="o1l-btn-close o1l-btn-sm o1l-btn-icon-only@(DefaultCssClass)"
                    @onclick=CloseDialog>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="o1l-modal-body">
                    <section class="value-transforms-wrapper">
                        @if (_removingRec)
                        {
                            @Icons.PreLoader()
                        }
                        else
                        {
                            for (var i = 0; i < FieldTransformation.ValueTransformations.Count; i++)
                            {
                                var curIndex = i;
                                var curTransform = FieldTransformation.ValueTransformations[i];
                                var curTransformResult = ApplyTransformationsThrough(curIndex - 1).Result;
                                <ValueTransformationConfiguration @bind-FieldTransformation=FieldTransformation
                                                                  TransformationRuleIndex=curIndex
                                                                  CurrentTransformationResult=curTransformResult
                                                                  FieldDescriptors=FieldDescriptors
                                                                  PreviewRowIndex=_previewIndex
                                                                  @bind-FieldTransformation:after=HandleTransformationRuleUpdated
                                                                  ApplyDefaultCss=ApplyDefaultCss />
                                if (FieldTransformation.ValueTransformations.Count > 0)
                                {
                                    <button type="button"
                                            class="o1l-btn-remove@(DefaultCssClass)"
                                            title="Remove the @curTransform.DisplayName"
                                            @onclick="_ => RemoveTransformation(FieldTransformation.ValueTransformations[curIndex])">
                                        <text>-</text>
                                    </button>
                                }
                                <hr />
                            }
                        }
                        <button type="button"
                                class="o1l-btn-add@(DefaultCssClass)"
                                title="Add a new transformation"
                                @onclick=AddTransformation>
                            <text>+</text>
                        </button>
                        <hr />
                    </section>

                    <div class="transformed-value-display">
                        <span class="results-preview-title">
                            Results Preview
                        </span>
                        @if (AllValues.Length > 1)
                        {
                            <button type="button"
                                    class="o1l-btn-link@(DefaultCssClass)"
                                    @onclick="_ => _previewsExpanded = !_previewsExpanded">
                                <text>@(_previewsExpanded ? "Collapse" : "Expand") Preview</text>
                            </button>
                        }

                        <table class="output-preview@((_previewsExpanded && AllValues.Length > 1) ? " expanded" : null)">
                            <thead>
                                <tr>
                                    <th class="row-num">
                                        Row #
                                    </th>
                                    <th class="column-title">
                                        @Field?.FieldName
                                    </th>
                                    <th class="column-title">
                                        Output Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (AllValues.Length == 0)
                                {
                                    <tr>
                                        <td colspan="3">
                                            No values set
                                        </td>
                                    </tr>
                                }
                                else if (!_previewsExpanded || AllValues.Length == 1)
                                {
                                    var thisTransformedValue = ApplyTransformationsThrough(resetOriginal: false).Result;
                                    <tr>
                                        <td class="row-num">
                                            @(_previewIndex + 1)
                                        </td>
                                        <td class="value-display current-value">
                                            @thisTransformedValue.GetOriginalValueDisplay()
                                        </td>
                                        <td class="value-display new-value">
                                            @* TODO: Validate the value for this target field *@
                                            @thisTransformedValue.GetCurrentValueDisplay()
                                            @if (thisTransformedValue.WasFailure)
                                            {
                                                <span title="An error occurred while applying the transformations. See the transforms above for more information.">
                                                    @Icons.Caution()
                                                </span>
                                            }
                                            else if (!FieldMapping.Validate(thisTransformedValue, out var validationResults, false) && validationResults is not null)
                                            {
                                                <span title="@string.Join(Environment.NewLine, validationResults.Select(vr => vr.ErrorMessage))">@Icons.Caution()</span>
                                            }
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    for (var i = 0; i < AllValues.Length; i++)
                                    {
                                        var thisIndex = (uint)i;
                                        var thisTransformedValue = ApplyTransformationsThrough(valueIndex: thisIndex, resetOriginal: false).Result;
                                        <tr class="@(thisIndex == _previewIndex ? "active" : null)" @onclick="_ => UpdatePreviewIndex(thisIndex)">
                                            <td class="row-num">
                                                @(thisIndex + 1)
                                            </td>
                                            <td class="value-display current-value">
                                                @thisTransformedValue.GetOriginalValueDisplay()
                                            </td>
                                            <td class="value-display new-value">
                                                @thisTransformedValue.GetCurrentValueDisplay()
                                                @if (thisTransformedValue.WasFailure)
                                                {
                                                    <span title="An error occurred while applying the transformations. See the transforms above for more information.">@Icons.Caution()</span>
                                                }
                                                else if (!FieldMapping.Validate(thisTransformedValue, out var validationResults, false) && validationResults is not null)
                                                {
                                                    <span title="@string.Join(Environment.NewLine, validationResults.Select(vr => vr.ErrorMessage))">@Icons.Caution()</span>
                                                }
                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="o1l-modal-footer">
                    <button type="button" class="o1l-btn-close@(DefaultCssClass)" @onclick=CloseDialog>Close</button>
                </div>
            </div>
        </div>
    </div>
}